.nabvar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 2;
}

.nabvar a img {
  position: fixed;
  top: 25px;
}

.navbarFondo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  background: #fffffff2;
  filter: blur(2px);
  -webkit-backdrop-filter: sepia(1);
  backdrop-filter: blur(5px) sepia(1);
  z-index: -1;
  padding: 2.5rem 0;
}